<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="js/utilModule.js"></script>
    <script src="js/mainModule.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" ng-controller="addCtrl">
            <div class="panel-heading">
                Add Contact
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="contactName">Name</label>
                    <input type="text" class="form-control" id="contactName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" class="form-control" id="imageUrl" placeholder="URL">
                </div>

                <contact-groups groups="groups"></contact-groups>
                <contact-addresses addresses="addresses"></contact-addresses>

                <div ng-repeat="additionalField in additionalFields track by $index">
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="additionaltype{{$index}}">Type {{$index + 1}}</label>
                            <select class="form-control" id="additionaltype{{$index}}"
                                    ng-options="i.id as i.value for i in fieldTypes" ng-model="additionalField.type">

                            </select>
                        </div>
                        <div class="form-group col-xs-5">
                            <label for="additionalValue{{$index}}">Value {{$index + 1}}</label>
                            <input type="text" class="form-control" id="additionalValue{{$index}}" placeholder="Value" value="{{additionalField.value}}">
                        </div>
                        <div class="col-xs-3">
                            <label for="deladditional{{$index}}">Delete {{$index + 1}}</label>
                            <input type="button" class="btn btn-danger" id="deladditional{{$index}}" value="X">
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary">Add Field</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>