<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Groups</th>
        <th>Addresses</th>
        <th>Additional info</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in contacts track by $index">
        <th>{{contact.id}}</th>
        <th>{{contact.name}}</th>
        <th>{{contact.imageName}}</th>
        <th>{{contact.groupList}}</th>
        <th>{{contact.addressList}}</th>
        <th>{{contact.additionalInfoList}}</th>
    </tr>
    </tbody>
</table>