<div class="row">
    <div class="form-group col-xs-2">
        <label for="groupid{{index}}">ID {{index + 1}}</label>
        <input type="text" class="form-control " id="groupid{{index}}" placeholder="ID" ng-model="group.id">
    </div>
    <div class="form-group col-xs-7">
        <label for="groupname{{index}}">Group name {{index + 1}}</label>
        <input type="text" class="form-control" id="groupname{{index}}" placeholder="Group" ng-model="group.name">
    </div>
    <div class="col-xs-3">
        <label for="delgroupbtn{{index}}">Delete {{index + 1}}</label>
        <input type="button" class="btn btn-danger" id="delgroupbtn{{index}}" value="X">
    </div>
</div>
