<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>

    <script src="js/utilModule.js"></script>
    <script src="js/mainModule.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="row" ng-controller="mainCtrl">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{contact.id == undefined ? 'Add Contact' : 'Edit Contract'}}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="contactName">Name</label>
                    <input type="text" class="form-control" id="contactName" placeholder="Name" ng-model="contact.name">
                </div>
                <div class="form-group">
                    <label for="imageName">Image URL</label>
                    <input type="text" class="form-control" id="imageName" placeholder="URL" ng-model="contact.imageName">
                </div>

                <contact-groups groups="contact.groupList"></contact-groups>
                <contact-addresses addresses="contact.addressList"></contact-addresses>
                <contact-additional-fields additional-fields="contact.additionalFields"></contact-additional-fields>
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-info" ng-click="resetContact()">Clear</a>
                <a class="btn btn-success" ng-click="addContact()">{{contact.id == undefined ? 'Add Contact' : 'Edit Contract'}}</a>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Show Contacts
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Groups</th>
                        <th>Addresses</th>
                        <th>Additional info</th>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="savedContact in contacts track by $index">
                        <td>{{savedContact.id}}</td>
                        <td>{{savedContact.name}}</td>
                        <td>{{savedContact.imageName}}</td>
                        <td>{{savedContact.groupList}}</td>
                        <td>{{savedContact.addressList}}</td>
                        <td>{{savedContact.additionalInfoList}}</td>
                        <td>
                            <a class="btn btn-primary" ng-click="editContact(savedContact)">Edit</a>
                            <a class="btn btn-danger" ng-click="deleteContact(savedContact.id)">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-success" ng-click="showAll()">Show contacts</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">File upload</div>
            <div class="panel-body">
                <form ng-controller="uploadCtrl" name="form">
                    <a class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                       ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                       ngf-resize="{width: 100, height: 100}">Select</a> {{file.$ngfName}}
                    <a class="btn btn-success" type="submit" ng-click="submit()">submit</a>

                    <input type="text" class="form-control imageName" ng-model="imageName"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>